<font face="Arial, Helvetica, sans-serif">
    <table cellspacing="0" cellpadding="2" border="0" width="100%">
        <tr style="font-size: 18px;">
            <td align="center">BUKU INVENTARIS ASET DESA</td>
        </tr>
        <tr>
            <td align="center">PEMERINTAH DESA __NAMA_DESA__</td>
        </tr>
        <tr>
            <td align="center">TAHUN __TAHUN__</td>
        </tr>
    </table>
    <br>
    <br>
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr style="font-size: 14px;">
            <td>Kode Lokasi Desa : 001</td>
        </tr>
    </table>
    <table cellspacing="0" cellpadding="2" border="1" width="100%">
        <thead>
            <tr style="font-size: 14px;">
                <th align="center" rowspan="2">No</th>
                <th align="center" rowspan="2">Jenis Barang</th>
                <th align="center" rowspan="2">Kode Barang</th>
                <th align="center" rowspan="2">Identitas Barang</th>
                <th align="center" colspan="3">Asal Usul Barang</th>
                <th align="center" rowspan="2">Tahun Perolehan/<br>Pembelian</th>
                <th align="center" rowspan="2">Keterangan<br>Jumlah Barang</th>
            </tr>
            <tr style="font-size: 14px;">
                <th align="center">APB Desa</th>
                <th align="center">Perolehan Lain Yg Sah</th>
                <th align="center">Aset/Kekayaan Asli Desa</th>
            </tr>
            <tr style="font-size: 14px;">
                <th align="center">1</th>
                <th align="center">2</th>
                <th align="center">3</th>
                <th align="center">4</th>
                <th align="center">5</th>
                <th align="center">6</th>
                <th align="center">7</th>
                <th align="center">8</th>
                <th align="center">9</th>
            </tr>
        </thead>
        __DATA__
    </table>
    <br>
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr style="font-size: 14px;">
            <td width="50%" align="center">
                MENGETAHUI :<br>
                SEKRETARIS DESA<br>
                Selaku Pembantu Pengelola Barang Milik Desa<br><br><br><br>
                ( __NAMA_SEKRETARIS__ )
            </td>
            <td width="50%" align="center">
                Desa __NAMA_DESA_KECIL__, Tanggal __TANGGAL_CETAK__<br>
                PETUGAS/PENGURUS<br>
                BARANG MILIK DESA<br><br><br><br>
                ( __NAMA_PENGURUS__ )
            </td>
        </tr>
    </table>
    <br>
</font>

<script>
    window.print();
</script>